<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">

                <!-- <div class="text-center mt-4">
                    <h1 class="h2">Delete</h1>
                    <p class="lead">
                        Enter your email to reset your password.
                    </p>
                </div> -->

                <div class="text-center mt-4">
                    <h1 class="display-4">Delete Supplier</h1> <br>
                    
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">

                            <form #deleteForm="ngForm" > <!-- (ngSubmit)="onDeleteSupplier(deleteForm)" -->
                                <div class="text-center mt-4">
                                    <p class="lead">
                                        Are you sure you want to delete supplier <br> #{{currentSupplierId}} {{supplier?.firstName}} {{supplier?.lastName}}?
                                    </p>
                                </div> 
                                <!-- <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your email">
                                </div> -->
                                <div class="text-center mt-3">
                                    <a routerLink="/" class="btn btn-lg btn-secondary">Back Home</a> &nbsp;&nbsp;
                                    <button (click)="onDeleteSupplier()" type="submit" class="btn btn-lg btn-outline-danger">Confirm</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>